examples/wcf/WcfServiceConsumer/ServiceReferences/WcfServiceReference/WcfService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.Examples.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.Examples.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49193/WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.v1_13" />
  <xs:complexType name="ReportContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="QueryId" type="xs:long" />
      <xs:element minOccurs="0" name="ReportFilePath" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReportContract" nillable="true" type="tns:ReportContract" />
  <xs:complexType name="AdTypeContract">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.v1_13" minOccurs="0" name="AdTypes" nillable="true" type="q1:ArrayOfAdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdTypeContract" nillable="true" type="tns:AdTypeContract" />
</xs:schema>