examples/wcf/WcfServiceConsumer/ServiceReferences/WcfServiceReference/WcfService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49193/WcfService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.Examples.Wcf" />
  <xs:import schemaLocation="http://localhost:49193/WcfService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.v1_13" />
  <xs:element name="GetReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="queryId" type="xs:long" />
        <xs:element minOccurs="0" name="reportFilePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetReportResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportUsingContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.Examples.Wcf" minOccurs="0" name="contract" nillable="true" type="q1:ReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReportUsingContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.Examples.Wcf" minOccurs="0" name="GetReportUsingContractResult" nillable="true" type="q2:ReportContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.v1_13" minOccurs="0" name="GetAdTypesResult" nillable="true" type="q3:ArrayOfAdType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdTypesUsingContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.Examples.Wcf" minOccurs="0" name="contract" nillable="true" type="q4:AdTypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdTypesUsingContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.Examples.Wcf" minOccurs="0" name="GetAdTypesUsingContractResult" nillable="true" type="q5:AdTypeContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>