examples/Dfa/Wcf/WcfServiceConsumer/ServiceReferences/WcfServiceReference/WcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.v1_20" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Google.Api.Ads.Dfa.v1_20" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdType" nillable="true" type="tns:AdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdType" nillable="true" type="tns:ArrayOfAdType" />
  <xs:complexType name="AdType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Base">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdType" nillable="true" type="tns:AdType" />
  <xs:complexType name="Base">
    <xs:sequence>
      <xs:element name="dummyExceptionField" nillable="true" type="tns:ApiException" />
      <xs:element name="idField" type="xs:long" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Base" nillable="true" type="tns:Base" />
  <xs:complexType name="ApiException">
    <xs:sequence>
      <xs:element name="errorCodeField" type="xs:long" />
      <xs:element name="errorMessageField" nillable="true" type="xs:string" />
      <xs:element name="messageField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApiException" nillable="true" type="tns:ApiException" />
</xs:schema>