web-examples/SampleWebServiceConsumer/Web_References/remoteservice/SampleWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CreateCampaignRemotely">
        <s:complexType />
      </s:element>
      <s:element name="CreateCampaignRemotelyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CreateCampaignRemotelyResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateCampaignRemotelySoapIn">
    <wsdl:part name="parameters" element="tns:CreateCampaignRemotely" />
  </wsdl:message>
  <wsdl:message name="CreateCampaignRemotelySoapOut">
    <wsdl:part name="parameters" element="tns:CreateCampaignRemotelyResponse" />
  </wsdl:message>
  <wsdl:portType name="SampleWebServiceSoap">
    <wsdl:operation name="CreateCampaignRemotely">
      <wsdl:input message="tns:CreateCampaignRemotelySoapIn" />
      <wsdl:output message="tns:CreateCampaignRemotelySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SampleWebServiceSoap" type="tns:SampleWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCampaignRemotely">
      <soap:operation soapAction="http://tempuri.org/CreateCampaignRemotely" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SampleWebServiceSoap12" type="tns:SampleWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCampaignRemotely">
      <soap12:operation soapAction="http://tempuri.org/CreateCampaignRemotely" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleWebService">
    <wsdl:port name="SampleWebServiceSoap" binding="tns:SampleWebServiceSoap">
      <soap:address location="http://localhost:3393/SampleWebService/SampleWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SampleWebServiceSoap12" binding="tns:SampleWebServiceSoap12">
      <soap12:address location="http://localhost:3393/SampleWebService/SampleWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>